<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />    
    
    <siteMap defaultProvider="SiteMap" enabled="true">
      <providers>
        <add name="SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
        <add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="Web1.sitemap"/>
      </providers>
    </siteMap>
    
  </system.web>
</configuration>