<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        <h1>Header from Layout</h1>

        @RenderBody()

        <p>===========================================</p>

        @RenderSection("Section1", false)

        <p>FOOTER</p>
    </div>
</body>
</html>
