<div> 
    @String.Format("{0} {1}", "String", "Format");
    @{
        string str = "str1";
    }
    <h2>Header </h2>
    <p>@str</p>

    <p style="color:red">@ViewBag.MyProp</p>
</div>

@section Section1 {
    <p>From Section 1</p>
}