@model MvcApplication2.Models.Book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <div>
        <p>@Model.Id</p>    
        <p>@Model.Name</p>
        <p>@Model.Author</p>
        <p>@Model.Price</p>
    </div>
</body>
</html>
