<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="AspNetDB" connectionString="Server=tcp:wwo82585us.database.windows.net,1433;Database=aspnetdb;User ID=aspnetdb@wwo82585us;Password=asp_net_db_1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>